In [1]:
import numpy as np
import pandas as pd

In [2]:
books = pd.read_csv('books.csv')
users = pd.read_csv('users.csv')
ratings = pd.read_csv('ratings.csv')

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_18844\3819754567.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('books.csv')

In [3]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
books.query("ISBN == '0515107662'")["Book-Title"]

15978    The Sherbrooke Bride (Bride Trilogy (Paperback))
Name: Book-Title, dtype: object

In [5]:
books_norm = books.assign(
    _title=books["Book-Title"].astype(str).str.strip().str.casefold()
).set_index("_title")

key = "animal farm"

if key in books_norm.index:
    # use a list index to always get a Series (works for 1 or many matches)
    isbns = books_norm.loc[[key], "ISBN"]
    isbns_list = isbns.dropna().astype(str).unique().tolist()
else:
    isbns_list = []

print(isbns_list)  # prints ['0451526341', ...] or [] if not found

['0451526341', '0451522303', '0451524667', '0736605673', '0451518012', '0451521560', '0451519000', '0151072558', '0451520874', '1854597892']

In [6]:
isbn_list = ['0451526341','0451522303','0451524667','0736605673','0451518012',
             '0451521560','0451519000','0151072558','0451520874','1854597892']

# Filter ratings to only those ISBNs (ensure ISBN is string to match the list)
subset = ratings.loc[ratings['ISBN'].astype(str).isin(isbn_list),
                     ['User-ID','ISBN','Book-Rating']]

# 1) Unique user IDs who rated any of these ISBNs
user_ids = subset['User-ID'].unique().tolist()
print("User IDs:", user_ids)

# 2) Print the user IDs and their ratings for these ISBNs
print(subset.sort_values(['User-ID','ISBN']).to_string(index=False))

User IDs: [254, 4107, 4215, 5452, 5922, 7346, 7958, 10047, 11676, 12538, 14232, 14768, 15408, 17836, 18713, 20082, 21618, 22894, 23902, 28204, 30072, 30898, 32599, 32773, 35445, 35859, 36807, 37712, 37844, 37950, 40505, 40885, 41596, 43246, 43404, 43555, 44252, 49460, 52199, 52853, 53729, 55490, 55492, 56856, 59150, 59727, 61619, 62302, 62464, 62881, 63394, 64114, 64943, 65032, 69274, 69808, 72531, 74286, 75242, 76626, 76865, 78834, 81298, 81370, 82831, 83404, 85534, 86123, 87555, 87746, 88435, 89014, 90744, 91023, 91184, 91203, 94896, 94923, 100694, 101876, 105517, 107341, 109135, 111944, 112083, 112580, 112953, 117013, 119858, 123544, 123790, 123883, 123981, 125396, 125736, 128119, 128835, 128993, 129503, 130772, 130978, 132836, 133038, 134434, 137803, 138097, 138543, 139524, 141330, 144151, 144997, 145619, 148744, 152206, 152726, 153040, 153513, 153806, 154176, 158506, 160434, 160558, 161348, 161936, 164323, 164581, 164642, 166922, 167800, 168047, 168144, 170518, 172047, 173131, 173679, 173773, 174304, 174714, 177072, 178587, 179019, 179327, 179733, 179734, 183287, 185384, 188786, 189286, 189855, 192119, 192906, 193649, 194519, 196077, 196423, 196754, 198836, 198840, 200585, 201598, 203506, 205374, 206438, 206959, 209697, 209756, 210168, 211426, 212088, 213119, 216160, 216683, 217373, 217468, 218521, 219013, 219209, 219530, 219546, 220484, 223326, 224349, 225986, 225989, 226739, 227976, 228021, 229313, 230249, 231210, 231951, 233444, 234205, 234240, 234828, 236340, 237433, 238781, 240567, 240883, 243294, 245295, 245828, 246759, 250510, 250987, 251140, 251394, 251444, 253261, 253797, 255479, 255493, 256052, 258673, 259004, 259006, 259064, 263645, 264317, 264657, 266229, 266775, 268330, 269245, 272715, 274480, 274549, 274773, 275239, 275970, 276167]
 User-ID       ISBN  Book-Rating
     254 0451526341            8
    4107 0451522303            8
    4215 0451526341            0
    5452 0451524667            0
    5922 0451526341            9
    7346 0451526341            8
    7958 0736605673            8
   10047 0451526341            9
   11676 0451526341           10
   12538 0451524667           10
   14232 0451526341            9
   14768 0451526341            9
   15408 0451526341            8
   17836 0451526341            7
   18713 0451526341            8
   20082 0451526341           10
   21618 0451526341            0
   22894 0451522303            0
   23902 0451526341            9
   28204 0451524667            0
   30072 0451524667            0
   30898 0451522303            0
   32599 0451526341            7
   32773 0451524667            8
   35445 0451524667            0
   35859 0451526341            0
   36807 0451526341            8
   37712 0451524667            0
   37844 0451526341            0
   37950 0451526341            9
   40505 0451524667            7
   40885 0451524667            0
   41596 0451518012            6
   43246 0451526341            0
   43404 0451526341            0
   43555 0451526341            0
   44252 0451526341           10
   49460 0451526341            8
   52199 0451521560            0
   52853 0451526341            0
   53729 0451526341            0
   55490 0451524667           10
   55492 0451526341            0
   56856 0451526341            0
   59150 0451524667            0
   59727 0451526341            6
   61619 0451526341            0
   62302 0451526341           10
   62464 0451526341           10
   62881 0451526341            0
   63394 0451526341            0
   64114 0451521560           10
   64943 0451520874            0
   65032 0451526341            5
   69274 0451524667            9
   69808 0451518012            8
   72531 0451526341            0
   74286 0451526341            0
   75242 0451526341            0
   76626 0451526341           10
   76865 0451526341            9
   78834 0451526341           10
   81298 0451526341            4
   81370 0451526341            0
   82831 0151072558            0
   82831 0451526341            0
   83404 0451526341            7
   85534 0451526341            9
   86123 0451526341            0
   87555 0451526341            0
   87746 0451526341            0
   88435 0451524667            0
   89014 0451526341           10
   90744 0451526341            8
   91023 0451519000            0
   91184 0451526341            6
   91203 0451526341            0
   94896 0451526341            9
   94923 0451521560            0
  100694 0451526341            8
  101876 0451526341            8
  105517 0451526341            0
  107341 0451526341            9
  109135 0451526341            0
  111944 0451526341            8
  112083 0451526341           10
  112580 0451524667            8
  112953 0451526341            9
  117013 0451522303           10
  119858 0451526341           10
  123544 0451526341           10
  123790 0451519000            0
  123883 0451526341            5
  123981 0451526341            0
  125396 0451526341            7
  125736 0451519000            0
  128119 0451526341            9
  128835 0451526341            0
  128993 0451524667            0
  129503 0451524667            9
  130772 0451526341           10
  130978 0451526341            9
  132836 0451524667            0
  133038 0451522303            0
  134434 0151072558            8
  137803 0451526341            9
  138097 0451526341           10
  138543 0451526341            9
  139524 0451526341            9
  141330 0451526341            0
  144151 0451526341            7
  144997 0451526341            0
  145619 0451524667            8
  148744 0451526341            0
  152206 0451526341            6
  152726 0451526341            7
  153040 0451526341            9
  153513 0451526341            0
  153806 0451526341            0
  154176 0451526341           10
  158506 0451526341           10
  160434 0451526341            0
  160558 0451526341           10
  161348 0451521560            4
  161936 0451526341            8
  164323 0451526341            5
  164581 0451526341            5
  164642 0451526341            0
  166922 0451526341            0
  167800 0451526341            0
  168047 0451521560            0
  168144 0451526341            0
  170518 0451524667            0
  172047 0451526341            8
  173131 0451526341            7
  173679 0451526341            9
  173773 0451526341            0
  174304 0451526341            9
  174714 0451519000            0
  177072 0451524667            0
  178587 0451526341            0
  179019 0451526341            9
  179327 0451524667            7
  179733 0451524667            7
  179734 0451526341            8
  183287 0151072558            0
  185384 0451524667            0
  188786 0451524667            9
  189286 0451526341            0
  189855 0451522303            9
  192119 0451524667            9
  192906 0451519000            0
  193649 0451526341            9
  194519 0151072558           10
  196077 0451526341            0
  196423 0451526341            0
  196754 0451526341            8
  198836 0451521560            8
  198840 0451526341            9
  200585 0451526341            0
  201598 0451526341            8
  203506 0451524667            0
  205374 0451526341            8
  206438 0451526341            9
  206959 0451524667            8
  209697 0451526341           10
  209756 0451519000            0
  210168 0451526341           10
  211426 0451526341            0
  212088 1854597892           10
  213119 0451524667            0
  216160 0451526341            0
  216683 0451521560            1
  217373 0451526341            0
  217468 0451526341            7
  218521 0451526341            0
  219013 0451526341            8
  219209 0451526341            0
  219530 0451526341            8
  219546 0451524667            7
  220484 0451526341            7
  223326 0451526341            0
  224349 0451526341            0
  225986 0451526341            0
  225989 0451526341            0
  226739 0451526341            0
  227976 0451526341            0
  228021 0451526341            0
  229313 0451526341            0
  230249 0451524667            0
  231210 0451526341           10
  231951 0451518012            0
  233444 0451526341            0
  234205 0451526341            8
  234240 0451526341            7
  234828 0451526341            0
  236340 0451526341            0
  237433 0451526341            7
  238781 0451521560            0
  240567 0451526341            8
  240883 0451526341            5
  243294 0451526341            0
  245295 0451526341           10
  245828 0451526341            0
  246759 0451526341            7
  250510 0451521560            0
  250987 0451522303            0
  251140 0451519000            0
  251394 0451526341            0
  251444 0451526341           10
  253261 0451526341            7
  253797 0451526341            0
  255479 0451526341            0
  255493 0451526341            0
  256052 0451526341            8
  258673 0451526341            8
  259004 0451526341            0
  259006 0451526341            9
  259064 0451526341            0
  263645 0451526341            0
  264317 0736605673            0
  264657 0451524667            0
  266229 0451524667            0
  266775 0451526341           10
  268330 0451524667            0
  269245 0451526341           10
  272715 0451526341            0
  274480 0451526341            0
  274549 0451518012            0
  274773 0451526341            0
  275239 0451521560           10
  275970 0451526341            0
  276167 0451526341           10

In [7]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [8]:
ratings

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

In [9]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [10]:
print(books.shape) #to know the no. of rows
print(ratings.shape)
print(users.shape)

(271360, 8)
(1149780, 3)
(278858, 3)

In [11]:
#271360 books and so on

In [12]:
books.isnull().sum() #to find missing values #process of EDA to clean the dataset

ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [13]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [14]:
#almost 50 percednt of age is missing but in this approach we will not be using age so it doesnt matter

In [15]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [16]:
books.duplicated().sum() # to find duplicates (EDA Techniques)

np.int64(0)

In [17]:
users.duplicated().sum() # to find duplicates

np.int64(0)

In [18]:
ratings.duplicated().sum() # to find duplicates

np.int64(0)

In [19]:
books.tail()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

In [20]:
users.tail()

        User-ID                            Location   Age
278853   278854               portland, oregon, usa   NaN
278854   278855  tacoma, washington, united kingdom  50.0
278855   278856           brampton, ontario, canada   NaN
278856   278857           knoxville, tennessee, usa   NaN
278857   278858                dublin, n/a, ireland   NaN

In [21]:
ratings.tail()

         User-ID         ISBN  Book-Rating
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

In [22]:
books.describe()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
count,271360,271360,271358,271360,271358,271360,271360,271357
unique,271360,242135,102022,202,16807,271044,271044,271041
top,020130998X,Selected Poems,Agatha Christie,2002,Harlequin,http://images.amazon.com/images/P/155936078X.0...,http://images.amazon.com/images/P/155936078X.0...,http://images.amazon.com/images/P/155936078X.0...
freq,1,27,632,13903,7535,2,2,2

In [23]:
users.describe()

            User-ID            Age
count  278858.00000  168096.000000
mean   139429.50000      34.751434
std     80499.51502      14.428097
min         1.00000       0.000000
25%     69715.25000      24.000000
50%    139429.50000      32.000000
75%    209143.75000      44.000000
max    278858.00000     244.000000

In [24]:
ratings.describe()

            User-ID   Book-Rating
count  1.149780e+06  1.149780e+06
mean   1.403864e+05  2.866950e+00
std    8.056228e+04  3.854184e+00
min    2.000000e+00  0.000000e+00
25%    7.034500e+04  0.000000e+00
50%    1.410100e+05  0.000000e+00
75%    2.110280e+05  7.000000e+00
max    2.788540e+05  1.000000e+01

In [25]:
books.columns #similarly check for others

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [26]:
books.nunique() #gives no. of unique values for each column

ISBN                   271360
Book-Title             242135
Book-Author            102022
Year-Of-Publication       202
Publisher               16807
Image-URL-S            271044
Image-URL-M            271044
Image-URL-L            271041
dtype: int64

In [27]:
users.nunique()

User-ID     278858
Location     57339
Age            165
dtype: int64

In [28]:
ratings.nunique()

User-ID        105283
ISBN           340556
Book-Rating        11
dtype: int64

In [29]:
#relationship analysis

In [30]:
import seaborn as sns

In [31]:
#corelation = books.corr() wont work as correlation only works on numeric columns

In [32]:
correlation = books.select_dtypes(include=['float64', 'int64']).corr() #to exclude non-numeric columns

In [33]:
numeric_books = books.select_dtypes(include=[np.number])
print(numeric_books.columns)

Index([], dtype='object')

In [34]:
correlation = numeric_books.corr()
print(correlation)

Empty DataFrame
Columns: []
Index: []

In [35]:
print(books.dtypes)

ISBN                   object
Book-Title             object
Book-Author            object
Year-Of-Publication    object
Publisher              object
Image-URL-S            object
Image-URL-M            object
Image-URL-L            object
dtype: object

In [92]:
#correlation only works on numeric values and these values are objects hence we need to convert it to numeric to calculate correlation
#books['Rating'] = pd.to_numeric(books['Rating'], errors='coerce')
#books['Pages'] = pd.to_numeric(books['Pages'], errors='coerce')
#numeric_books = books.select_dtypes(include=[np.number])
#correlation = numeric_books.corr()
#import seaborn as sns
#import matplotlib.pyplot as plt
#plt.figure(figsize=(10, 8))
#sns.heatmap(correlation, annot=True, cmap="coolwarm")
#plt.title("Correlation Heatmap")
#plt.show()

SyntaxError: invalid syntax (392393240.py, line 1)

# POPULARITY BASED RECOMMENDER SYSTEM (MODEL BUILDING) *we will show top books whose average rating is highest

In [37]:
ratings_with_name = ratings.merge(books,on='ISBN') #merging books and ratings on column isbn as it is there in both

In [38]:
ratings_with_name

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,276726,0155061224,5,Rites of Passage,Judith Rae,2001,Heinle,http://images.amazon.com/images/P/0155061224.0...,http://images.amazon.com/images/P/0155061224.0...,http://images.amazon.com/images/P/0155061224.0...
2,276727,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
3,276729,052165615X,3,Help!: Level 1,Philip Prowse,1999,Cambridge University Press,http://images.amazon.com/images/P/052165615X.0...,http://images.amazon.com/images/P/052165615X.0...,http://images.amazon.com/images/P/052165615X.0...
4,276729,0521795028,6,The Amsterdam Connection : Level 4 (Cambridge ...,Sue Leather,2001,Cambridge University Press,http://images.amazon.com/images/P/0521795028.0...,http://images.amazon.com/images/P/0521795028.0...,http://images.amazon.com/images/P/0521795028.0...
...,...,...,...,...,...,...,...,...,...,...
1031131,276704,0876044011,0,Edgar Cayce on the Akashic Records: The Book o...,Kevin J. Todeschi,1998,A.R.E. Press (Association of Research &amp; Enlig,http://images.amazon.com/images/P/0876044011.0...,http://images.amazon.com/images/P/0876044011.0...,http://images.amazon.com/images/P/0876044011.0...
1031132,276704,1563526298,9,Get Clark Smart : The Ultimate Guide for the S...,Clark Howard,2000,Longstreet Press,http://images.amazon.com/images/P/1563526298.0...,http://images.amazon.com/images/P/1563526298.0...,http://images.amazon.com/images/P/1563526298.0...
1031133,276706,0679447156,0,Eight Weeks to Optimum Health: A Proven Progra...,Andrew Weil,1997,Alfred A. Knopf,http://images.amazon.com/images/P/0679447156.0...,http://images.amazon.com/images/P/0679447156.0...,http://images.amazon.com/images/P/0679447156.0...
1031134,276709,0515107662,10,The Sherbrooke Bride (Bride Trilogy (Paperback)),Catherine Coulter,1996,Jove Books,http://images.amazon.com/images/P/0515107662.0...,http://images.amazon.com/images/P/0515107662.0...,http://images.amazon.com/images/P/0515107662.0...
1031135,276721,0590442449,10,Fourth Grade Rats,Jerry Spinelli,1996,Scholastic,http://images.amazon.com/images/P/0590442449.0...,http://images.amazon.com/images/P/0590442449.0...,http://images.amazon.com/images/P/0590442449.0...

In [39]:
ratings_with_name.shape

(1031136, 10)

In [40]:
num_rating_df = ratings_with_name.groupby('Book-Title').count()['Book-Rating'].reset_index()
num_rating_df.rename(columns={'Book-Rating':'num_ratings'},inplace=True)
num_rating_df

                                               Book-Title  num_ratings
0        A Light in the Storm: The Civil War Diary of ...            4
1                                   Always Have Popsicles            1
2                    Apple Magic (The Collector's series)            1
3        Ask Lily (Young Women of Faith: Lily Series, ...            1
4        Beyond IBM: Leadership Marketing and Finance ...            1
...                                                   ...          ...
241066                                      Ãƒ?Ã‚?lpiraten.            2
241067                     Ãƒ?Ã‚?rger mit Produkt X. Roman.            4
241068                                Ãƒ?Ã‚?sterlich leben.            1
241069                              Ãƒ?Ã‚?stlich der Berge.            3
241070                                  Ãƒ?Ã‚?thique en toc            2

[241071 rows x 2 columns]

In [41]:
avg_rating_df = ratings_with_name.groupby('Book-Title')['Book-Rating'].mean().reset_index()
avg_rating_df.rename(columns={'Book-Rating':'avg_rating'},inplace=True)
avg_rating_df

                                               Book-Title  avg_rating
0        A Light in the Storm: The Civil War Diary of ...    2.250000
1                                   Always Have Popsicles    0.000000
2                    Apple Magic (The Collector's series)    0.000000
3        Ask Lily (Young Women of Faith: Lily Series, ...    8.000000
4        Beyond IBM: Leadership Marketing and Finance ...    0.000000
...                                                   ...         ...
241066                                      Ãƒ?Ã‚?lpiraten.    0.000000
241067                     Ãƒ?Ã‚?rger mit Produkt X. Roman.    5.250000
241068                                Ãƒ?Ã‚?sterlich leben.    7.000000
241069                              Ãƒ?Ã‚?stlich der Berge.    2.666667
241070                                  Ãƒ?Ã‚?thique en toc    4.000000

[241071 rows x 2 columns]

In [42]:
#merging both avg and num dataframes(df)
popular_df = num_rating_df.merge(avg_rating_df,on='Book-Title')
popular_df

,Book-Title,num_ratings,avg_rating
0,A Light in the Storm: The Civil War Diary of ...,4,2.250000
1,Always Have Popsicles,1,0.000000
2,Apple Magic (The Collector's series),1,0.000000
3,"Ask Lily (Young Women of Faith: Lily Series, ...",1,8.000000
4,Beyond IBM: Leadership Marketing and Finance ...,1,0.000000
...,...,...,...
241066,Ãƒ?Ã‚?lpiraten.,2,0.000000
241067,Ãƒ?Ã‚?rger mit Produkt X. Roman.,4,5.250000
241068,Ãƒ?Ã‚?sterlich leben.,1,7.000000
241069,Ãƒ?Ã‚?stlich der Berge.,3,2.666667
241070,Ãƒ?Ã‚?thique en toc,2,4.000000

In [43]:
popular_df = popular_df[popular_df['num_ratings']>=250].sort_values('avg_rating',ascending=False).head(50) #sorting in descending order

In [44]:
#we need author names,image and publisher next
popular_df = popular_df.merge(books,on='Book-Title').drop_duplicates('Book-Title')[['Book-Title','Book-Author','Image-URL-M','num_ratings','avg_rating']]

In [91]:
popular_df

,Book-Title,Book-Author,Image-URL-M,num_ratings,avg_rating
0,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,http://images.amazon.com/images/P/0439136350.0...,428,5.852804
3,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,http://images.amazon.com/images/P/0439139597.0...,387,5.824289
5,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,http://images.amazon.com/images/P/0590353403.0...,278,5.737410
9,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,http://images.amazon.com/images/P/043935806X.0...,347,5.501441
13,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,http://images.amazon.com/images/P/0439064872.0...,556,5.183453
16,The Hobbit : The Enchanting Prelude to The Lor...,J.R.R. TOLKIEN,http://images.amazon.com/images/P/0345339681.0...,281,5.007117
17,The Fellowship of the Ring (The Lord of the Ri...,J.R.R. TOLKIEN,http://images.amazon.com/images/P/0345339703.0...,368,4.948370
26,Harry Potter and the Sorcerer's Stone (Harry P...,J. K. Rowling,http://images.amazon.com/images/P/059035342X.0...,575,4.895652
28,"The Two Towers (The Lord of the Rings, Part 2)",J.R.R. TOLKIEN,http://images.amazon.com/images/P/0345339711.0...,260,4.880769
39,To Kill a Mockingbird,Harper Lee,http://images.amazon.com/images/P/0446310786.0...,510,4.700000
47,The Da Vinci Code,Dan Brown,http://images.amazon.com/images/P/0385504209.0...,898,4.642539
53,The Five People You Meet in Heaven,Mitch Albom,http://images.amazon.com/images/P/0786868716.0...,430,4.551163
55,The Catcher in the Rye,J.D. Salinger,http://images.amazon.com/images/P/0316769487.0...,449,4.545657
62,The Lovely Bones: A Novel,Alice Sebold,http://images.amazon.com/images/P/0316666343.0...,1295,4.468726
63,1984,George Orwell,http://images.amazon.com/images/P/0451524934.0...,284,4.454225
72,Prodigal Summer: A Novel,Barbara Kingsolver,http://images.amazon.com/images/P/0060959037.0...,253,4.450593
73,Neverwhere,Neil Gaiman,http://images.amazon.com/images/P/0380789019.0...,265,4.449057
78,The Secret Life of Bees,Sue Monk Kidd,http://images.amazon.com/images/P/0142001740.0...,774,4.447028
84,Stupid White Men ...and Other Sorry Excuses fo...,Michael Moore,http://images.amazon.com/images/P/0060392452.0...,283,4.356890
85,"Tuesdays with Morrie: An Old Man, a Young Man,...",MITCH ALBOM,http://images.amazon.com/images/P/0385484518.0...,493,4.354970
88,The Red Tent (Bestselling Backlist),Anita Diamant,http://images.amazon.com/images/P/0312195516.0...,723,4.334716
89,The Hitchhiker's Guide to the Galaxy,Douglas Adams,http://images.amazon.com/images/P/0671461494.0...,268,4.328358
98,Nickel and Dimed: On (Not) Getting By in America,Barbara Ehrenreich,http://images.amazon.com/images/P/0805063897.0...,335,4.289552
100,Into the Wild,Jon Krakauer,http://images.amazon.com/images/P/0385486804.0...,252,4.273810
103,Fahrenheit 451,Ray Bradbury,http://images.amazon.com/images/P/3257208626.0...,409,4.264059
116,Girl with a Pearl Earring,Tracy Chevalier,http://images.amazon.com/images/P/0452282152.0...,526,4.218631
117,Outlander,DIANA GABALDON,http://images.amazon.com/images/P/0440222915.0...,283,4.173145
123,Where the Heart Is (Oprah's Book Club (Paperba...,Billie Letts,http://images.amazon.com/images/P/0446672211.0...,585,4.105983
124,Seabiscuit: An American Legend,LAURA HILLENBRAND,http://images.amazon.com/images/P/0449005615.0...,275,4.098182
126,Life of Pi,Yann Martel,http://images.amazon.com/images/P/0151008116.0...,664,4.088855
130,The Bean Trees,Barbara Kingsolver,http://images.amazon.com/images/P/0060915544.0...,389,4.087404
133,"A Child Called \It\"": One Child's Courage to S...",Dave Pelzer,http://images.amazon.com/images/P/1558743669.0...,265,4.086792
135,ANGELA'S ASHES,Frank McCourt,http://images.amazon.com/images/P/0684874350.0...,279,4.075269
137,Good in Bed,Jennifer Weiner,http://images.amazon.com/images/P/0743418174.0...,490,4.055102
139,Fast Food Nation: The Dark Side of the All-Ame...,Eric Schlosser,http://images.amazon.com/images/P/0060938455.0...,321,4.037383
140,American Gods,Neil Gaiman,http://images.amazon.com/images/P/0380789035.0...,302,4.006623
141,Skipping Christmas,JOHN GRISHAM,http://images.amazon.com/images/P/0385505833.0...,322,4.006211
147,Left Behind: A Novel of the Earth's Last Days ...,Tim Lahaye,http://images.amazon.com/images/P/0842329129.0...,318,4.003145
149,"The Golden Compass (His Dark Materials, Book 1)",PHILIP PULLMAN,http://images.amazon.com/images/P/037582345X.0...,336,4.000000
157,The Color Purple,Alice Walker,http://images.amazon.com/images/P/0671617028.0...,314,3.964968
163,Silence of the Lambs,Thomas Harris,http://images.amazon.com/images/P/0312924585.0...,256,3.960938
166,About a Boy,Nick Hornby,http://images.amazon.com/images/P/1573227331.0...,262,3.900763
173,Seven Up (A Stephanie Plum Novel),Janet Evanovich,http://images.amazon.com/images/P/0312265840.0...,278,3.888489
175,The Alchemist: A Fable About Following Your Dream,Paulo Coelho,http://images.amazon.com/images/P/0062502174.0...,266,3.875940
177,Hard Eight : A Stephanie Plum Novel (A Stephan...,Janet Evanovich,http://images.amazon.com/images/P/0312983867.0...,269,3.825279
182,Suzanne's Diary for Nicholas,James Patterson,http://images.amazon.com/images/P/0316969443.0...,457,3.820569
186,Lord of the Flies,William Gerald Golding,http://images.amazon.com/images/P/0399501487.0...,259,3.818533
192,A Prayer for Owen Meany,John Irving,http://images.amazon.com/images/P/0345361792.0...,413,3.796610
194,"The Vampire Lestat (Vampire Chronicles, Book II)",ANNE RICE,http://images.amazon.com/images/P/0345313860.0...,301,3.777409
195,White Oleander : A Novel (Oprah's Book Club),Janet Fitch,http://images.amazon.com/images/P/0316284955.0...,356,3.772472

#COLABORATIVE FILTER BASED RECOMMENDER SYSTEM

In [46]:
x = ratings_with_name.groupby('User-ID').count()['Book-Rating'] > 200 #false are those users whose rating is not >200
padhe_likhe_users = x[x].index # filters out all the 0 ratings(false) and gives only true values

In [47]:
filtered_rating = ratings_with_name[ratings_with_name['User-ID'].isin(padhe_likhe_users)]

In [48]:
y = filtered_rating.groupby('Book-Title').count()['Book-Rating']>=50
famous_books = y[y].index

In [49]:
final_ratings = filtered_rating[filtered_rating['Book-Title'].isin(famous_books)]

In [50]:
final_ratings

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
1150,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,http://images.amazon.com/images/P/002542730X.0...,http://images.amazon.com/images/P/002542730X.0...
1163,277427,0060930535,0,The Poisonwood Bible: A Novel,Barbara Kingsolver,1999,Perennial,http://images.amazon.com/images/P/0060930535.0...,http://images.amazon.com/images/P/0060930535.0...,http://images.amazon.com/images/P/0060930535.0...
1165,277427,0060934417,0,Bel Canto: A Novel,Ann Patchett,2002,Perennial,http://images.amazon.com/images/P/0060934417.0...,http://images.amazon.com/images/P/0060934417.0...,http://images.amazon.com/images/P/0060934417.0...
1168,277427,0061009059,9,One for the Money (Stephanie Plum Novels (Pape...,Janet Evanovich,1995,HarperTorch,http://images.amazon.com/images/P/0061009059.0...,http://images.amazon.com/images/P/0061009059.0...,http://images.amazon.com/images/P/0061009059.0...
1174,277427,006440188X,0,The Secret Garden,Frances Hodgson Burnett,1998,HarperTrophy,http://images.amazon.com/images/P/006440188X.0...,http://images.amazon.com/images/P/006440188X.0...,http://images.amazon.com/images/P/006440188X.0...
...,...,...,...,...,...,...,...,...,...,...
1029196,275970,1400031354,0,Tears of the Giraffe (No.1 Ladies Detective Ag...,Alexander McCall Smith,2002,Anchor,http://images.amazon.com/images/P/1400031354.0...,http://images.amazon.com/images/P/1400031354.0...,http://images.amazon.com/images/P/1400031354.0...
1029197,275970,1400031362,0,Morality for Beautiful Girls (No.1 Ladies Dete...,Alexander McCall Smith,2002,Anchor,http://images.amazon.com/images/P/1400031362.0...,http://images.amazon.com/images/P/1400031362.0...,http://images.amazon.com/images/P/1400031362.0...
1029270,275970,1573229725,0,Fingersmith,Sarah Waters,2002,Riverhead Books,http://images.amazon.com/images/P/1573229725.0...,http://images.amazon.com/images/P/1573229725.0...,http://images.amazon.com/images/P/1573229725.0...
1029309,275970,1586210661,9,Me Talk Pretty One Day,David Sedaris,2001,Time Warner Audio Major,http://images.amazon.com/images/P/1586210661.0...,http://images.amazon.com/images/P/1586210661.0...,http://images.amazon.com/images/P/1586210661.0...
1029310,275970,1586212230,0,Naked,David Sedaris,2001,Time Warner Audio Major,http://images.amazon.com/images/P/1586212230.0...,http://images.amazon.com/images/P/1586212230.0...,http://images.amazon.com/images/P/1586212230.0...

In [51]:
final_ratings.drop_duplicates()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
1150,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,http://images.amazon.com/images/P/002542730X.0...,http://images.amazon.com/images/P/002542730X.0...
1163,277427,0060930535,0,The Poisonwood Bible: A Novel,Barbara Kingsolver,1999,Perennial,http://images.amazon.com/images/P/0060930535.0...,http://images.amazon.com/images/P/0060930535.0...,http://images.amazon.com/images/P/0060930535.0...
1165,277427,0060934417,0,Bel Canto: A Novel,Ann Patchett,2002,Perennial,http://images.amazon.com/images/P/0060934417.0...,http://images.amazon.com/images/P/0060934417.0...,http://images.amazon.com/images/P/0060934417.0...
1168,277427,0061009059,9,One for the Money (Stephanie Plum Novels (Pape...,Janet Evanovich,1995,HarperTorch,http://images.amazon.com/images/P/0061009059.0...,http://images.amazon.com/images/P/0061009059.0...,http://images.amazon.com/images/P/0061009059.0...
1174,277427,006440188X,0,The Secret Garden,Frances Hodgson Burnett,1998,HarperTrophy,http://images.amazon.com/images/P/006440188X.0...,http://images.amazon.com/images/P/006440188X.0...,http://images.amazon.com/images/P/006440188X.0...
...,...,...,...,...,...,...,...,...,...,...
1029196,275970,1400031354,0,Tears of the Giraffe (No.1 Ladies Detective Ag...,Alexander McCall Smith,2002,Anchor,http://images.amazon.com/images/P/1400031354.0...,http://images.amazon.com/images/P/1400031354.0...,http://images.amazon.com/images/P/1400031354.0...
1029197,275970,1400031362,0,Morality for Beautiful Girls (No.1 Ladies Dete...,Alexander McCall Smith,2002,Anchor,http://images.amazon.com/images/P/1400031362.0...,http://images.amazon.com/images/P/1400031362.0...,http://images.amazon.com/images/P/1400031362.0...
1029270,275970,1573229725,0,Fingersmith,Sarah Waters,2002,Riverhead Books,http://images.amazon.com/images/P/1573229725.0...,http://images.amazon.com/images/P/1573229725.0...,http://images.amazon.com/images/P/1573229725.0...
1029309,275970,1586210661,9,Me Talk Pretty One Day,David Sedaris,2001,Time Warner Audio Major,http://images.amazon.com/images/P/1586210661.0...,http://images.amazon.com/images/P/1586210661.0...,http://images.amazon.com/images/P/1586210661.0...
1029310,275970,1586212230,0,Naked,David Sedaris,2001,Time Warner Audio Major,http://images.amazon.com/images/P/1586212230.0...,http://images.amazon.com/images/P/1586212230.0...,http://images.amazon.com/images/P/1586212230.0...

In [52]:
#same no. of rows after dropping duplicated ie there are no duplicates

In [53]:
final_ratings.pivot_table(index='Book-Title', columns='User-ID', values='Book-Rating')

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A Bend in the Road,0.0,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,9.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN

In [54]:
pt = final_ratings.pivot_table(index='Book-Title', columns='User-ID', values='Book-Rating')

In [55]:
pt.fillna(0,inplace=True)

In [56]:
pt

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0

In [57]:
#next we analyse the data
#every book has become a vector in a 810 dimensional space
#we take euclidean distance between each vector

In [58]:
from sklearn.metrics.pairwise import cosine_similarity

In [59]:
cosine_similarity(pt)

array([[1.        , 0.10255025, 0.01220856, ..., 0.12110367, 0.07347567,
        0.04316046],
       [0.10255025, 1.        , 0.2364573 , ..., 0.07446129, 0.16773875,
        0.14263397],
       [0.01220856, 0.2364573 , 1.        , ..., 0.04558758, 0.04938579,
        0.10796119],
       ...,
       [0.12110367, 0.07446129, 0.04558758, ..., 1.        , 0.07085128,
        0.0196177 ],
       [0.07347567, 0.16773875, 0.04938579, ..., 0.07085128, 1.        ,
        0.10602962],
       [0.04316046, 0.14263397, 0.10796119, ..., 0.0196177 , 0.10602962,
        1.        ]])

In [60]:
cosine_similarity(pt).shape

(706, 706)

In [61]:
similarity_scores = cosine_similarity(pt)

In [62]:
similarity_scores[0] #suppose we take array 1 it tells us the similarity score of first book with remaining books

array([1.        , 0.10255025, 0.01220856, 0.        , 0.05367224,
       0.02774901, 0.08216491, 0.13732869, 0.03261686, 0.03667591,
       0.02322418, 0.06766487, 0.02083978, 0.09673735, 0.13388865,
       0.08303112, 0.11153543, 0.05100411, 0.02517784, 0.11706383,
       0.        , 0.14333793, 0.07847534, 0.06150451, 0.08723968,
       0.        , 0.07009814, 0.13658681, 0.07600328, 0.12167134,
       0.00768046, 0.01473221, 0.        , 0.07965814, 0.04522617,
       0.01556271, 0.09495938, 0.0182307 , 0.02610465, 0.07984012,
       0.11679969, 0.0569124 , 0.08354155, 0.08471898, 0.08785938,
       0.05491435, 0.0548505 , 0.27026514, 0.09779123, 0.06016046,
       0.08958835, 0.06748675, 0.        , 0.04468098, 0.01920872,
       0.        , 0.05629067, 0.00557964, 0.07877059, 0.05219479,
       0.18908177, 0.        , 0.01240656, 0.02984572, 0.04279502,
       0.12680125, 0.16566735, 0.        , 0.13357242, 0.06615478,
       0.        , 0.        , 0.        , 0.10968075, 0.02806606,
       0.04521795, 0.02613277, 0.06876131, 0.01331627, 0.10519138,
       0.03349457, 0.01363458, 0.23669374, 0.        , 0.10397941,
       0.06167753, 0.14176273, 0.11661083, 0.08331012, 0.00850895,
       0.06715433, 0.        , 0.15850821, 0.0328052 , 0.01068915,
       0.02579782, 0.02114859, 0.02687779, 0.02175821, 0.        ,
       0.01601663, 0.12114266, 0.04768603, 0.05819184, 0.06510722,
       0.        , 0.0476705 , 0.05273165, 0.0281001 , 0.06524573,
       0.02116345, 0.02097868, 0.07422249, 0.01752778, 0.03734567,
       0.        , 0.01579666, 0.11039448, 0.16527277, 0.15514319,
       0.06237454, 0.08139489, 0.05655414, 0.07458203, 0.03771888,
       0.0593633 , 0.02955369, 0.03355603, 0.04734093, 0.01006643,
       0.01671982, 0.07258935, 0.        , 0.        , 0.        ,
       0.02428501, 0.03067819, 0.0997498 , 0.        , 0.01690152,
       0.02410862, 0.0281084 , 0.        , 0.        , 0.01812877,
       0.02880827, 0.        , 0.05995157, 0.02127671, 0.1034119 ,
       0.02766748, 0.10684795, 0.09898722, 0.14145186, 0.05007429,
       0.09428289, 0.01411249, 0.        , 0.07835976, 0.00882242,
       0.04515898, 0.        , 0.01281412, 0.04003334, 0.07477661,
       0.01217906, 0.01887393, 0.02667484, 0.01432864, 0.14702847,
       0.06087282, 0.02578321, 0.02741876, 0.        , 0.14909595,
       0.05606788, 0.        , 0.03199916, 0.03643817, 0.        ,
       0.01962921, 0.22222254, 0.01515845, 0.09673268, 0.02190023,
       0.02013549, 0.05400331, 0.07262017, 0.01111637, 0.03649872,
       0.05994664, 0.        , 0.14691167, 0.02086005, 0.10359635,
       0.09794375, 0.06609997, 0.12871083, 0.08992739, 0.01147457,
       0.02460165, 0.        , 0.18049207, 0.05141892, 0.0477174 ,
       0.10849696, 0.13278139, 0.05915288, 0.05372984, 0.034785  ,
       0.        , 0.09203039, 0.06388401, 0.04773328, 0.15570975,
       0.08420691, 0.12338217, 0.0878469 , 0.08205945, 0.12177532,
       0.02433703, 0.00272862, 0.        , 0.        , 0.03671505,
       0.15280984, 0.0370943 , 0.07458136, 0.09746697, 0.05416091,
       0.10266993, 0.07574414, 0.06426526, 0.0360174 , 0.01559752,
       0.02033559, 0.02463593, 0.        , 0.03349154, 0.02135369,
       0.0190337 , 0.06806265, 0.02032116, 0.11784706, 0.07839488,
       0.08422558, 0.        , 0.02040796, 0.        , 0.04698246,
       0.08294513, 0.13974514, 0.01234525, 0.13510608, 0.07423489,
       0.11841889, 0.04930091, 0.01621668, 0.02633023, 0.04815972,
       0.01959826, 0.10174253, 0.13257638, 0.        , 0.0551027 ,
       0.0186115 , 0.        , 0.04504598, 0.03482459, 0.16503292,
       0.08466191, 0.06795353, 0.02987653, 0.        , 0.        ,
       0.08781993, 0.07885279, 0.04799058, 0.01467964, 0.02123837,
       0.04549923, 0.08673969, 0.00885998, 0.02880637, 0.02022145,
       0.02414122, 0.12548312, 0.        , 0.02482518, 0.06520606,
       0.        , 0.0606983 , 0.01177824, 0.13974105, 0.01978844,
       0.01260824, 0.08608601, 0.04433883, 0.02943085, 0.02242496,
       0.06541868, 0.07866868, 0.14281399, 0.11979305, 0.01858409,
       0.13445377, 0.04809338, 0.09790644, 0.        , 0.17415731,
       0.07437756, 0.        , 0.12389065, 0.01042391, 0.02580849,
       0.        , 0.0895139 , 0.04005551, 0.19182231, 0.02267512,
       0.01730347, 0.03054044, 0.07008822, 0.10084626, 0.10467615,
       0.01683462, 0.12468283, 0.10266459, 0.03549836, 0.02667484,
       0.07652765, 0.08474056, 0.01831977, 0.02177482, 0.15293362,
       0.        , 0.        , 0.01063251, 0.02153089, 0.02946443,
       0.        , 0.02076783, 0.01194825, 0.00953675, 0.2067554 ,
       0.01554292, 0.0390266 , 0.06681046, 0.09014973, 0.05914735,
       0.06206857, 0.        , 0.02005959, 0.07843566, 0.16337845,
       0.07161075, 0.        , 0.14595258, 0.07561631, 0.02939738,
       0.04779629, 0.01807238, 0.11362722, 0.09791273, 0.07999693,
       0.08912337, 0.10941777, 0.        , 0.02115842, 0.0600393 ,
       0.01797154, 0.05755408, 0.02166863, 0.09754449, 0.13107652,
       0.        , 0.06829904, 0.09132922, 0.        , 0.02781406,
       0.01533368, 0.06113179, 0.01757286, 0.02471294, 0.0180158 ,
       0.11789806, 0.06468143, 0.13904191, 0.        , 0.06671644,
       0.        , 0.        , 0.05762086, 0.02266096, 0.00844876,
       0.02297481, 0.07136276, 0.15305514, 0.06039874, 0.        ,
       0.08996912, 0.01545947, 0.10135299, 0.        , 0.01676344,
       0.        , 0.0502188 , 0.16041182, 0.        , 0.13439733,
       0.12508514, 0.02329035, 0.0198727 , 0.01105674, 0.02548034,
       0.00896044, 0.08246122, 0.01902896, 0.07025003, 0.0216367 ,
       0.12822982, 0.09998772, 0.08642895, 0.06355197, 0.02883024,
       0.04335826, 0.0470659 , 0.05223733, 0.        , 0.08982751,
       0.00875634, 0.09923542, 0.10228551, 0.        , 0.12307492,
       0.01758929, 0.02028125, 0.1033827 , 0.13028171, 0.08988894,
       0.09005001, 0.05332049, 0.08033436, 0.04597795, 0.06139888,
       0.02300709, 0.02304904, 0.06523041, 0.01915363, 0.        ,
       0.04542766, 0.        , 0.        , 0.05261954, 0.01317088,
       0.        , 0.        , 0.0485931 , 0.0734819 , 0.10354481,
       0.01718807, 0.09919937, 0.08091989, 0.00358835, 0.04757132,
       0.11122765, 0.05143481, 0.0566614 , 0.        , 0.06087719,
       0.10800615, 0.        , 0.07554686, 0.        , 0.13644384,
       0.04796763, 0.16104067, 0.        , 0.01759864, 0.05438295,
       0.        , 0.08100801, 0.13090711, 0.00581844, 0.07150547,
       0.05428487, 0.06143184, 0.05161653, 0.1951182 , 0.1149488 ,
       0.06513047, 0.06401961, 0.        , 0.        , 0.10853662,
       0.11400426, 0.0463925 , 0.01825277, 0.        , 0.01195201,
       0.21057744, 0.05809707, 0.04349156, 0.02646256, 0.07276403,
       0.05264857, 0.07242165, 0.06790898, 0.01626564, 0.02431809,
       0.02093565, 0.13617057, 0.11784149, 0.08588206, 0.09284352,
       0.11277297, 0.06868983, 0.08200947, 0.13369059, 0.        ,
       0.19972625, 0.02286207, 0.0806288 , 0.        , 0.05756015,
       0.06738056, 0.        , 0.19656288, 0.06306426, 0.03499381,
       0.06123119, 0.09596456, 0.02180168, 0.02317515, 0.06476149,
       0.07052241, 0.08280452, 0.1700872 , 0.07213921, 0.01172201,
       0.08541218, 0.17990898, 0.08007284, 0.01739625, 0.16728777,
       0.26396194, 0.1840891 , 0.05600273, 0.04133586, 0.06911015,
       0.14456847, 0.22626397, 0.19208896, 0.0239334 , 0.20025064,
       0.01507653, 0.05144282, 0.1233368 , 0.1420166 , 0.02472079,
       0.08563805, 0.02363426, 0.12794024, 0.01083153, 0.07352436,
       0.09532519, 0.03421895, 0.07194212, 0.02297079, 0.15344079,
       0.08856302, 0.        , 0.        , 0.01878656, 0.09772942,
       0.04404359, 0.15211972, 0.0152225 , 0.10307399, 0.05715789,
       0.04600056, 0.06303899, 0.06572303, 0.14421331, 0.08272478,
       0.        , 0.04203701, 0.02276077, 0.17381829, 0.01909967,
       0.16000268, 0.14681486, 0.        , 0.05940546, 0.07725115,
       0.07464763, 0.06546696, 0.07021577, 0.18921368, 0.02494136,
       0.01705027, 0.05437622, 0.04932819, 0.        , 0.11445399,
       0.08001595, 0.12858515, 0.02306658, 0.06129105, 0.02090769,
       0.04550867, 0.1026659 , 0.10725982, 0.0260534 , 0.00173709,
       0.0987294 , 0.08077482, 0.02159226, 0.01614275, 0.0208464 ,
       0.09797466, 0.01906731, 0.18571699, 0.05344577, 0.18925314,
       0.05894189, 0.01488161, 0.1202478 , 0.09840359, 0.01048126,
       0.10596224, 0.07617195, 0.0805439 , 0.        , 0.23299389,
       0.01073642, 0.13573542, 0.04578552, 0.14440017, 0.        ,
       0.12522954, 0.0645501 , 0.02817522, 0.14445559, 0.01721045,
       0.09508161, 0.0517902 , 0.18410818, 0.08704224, 0.10990764,
       0.10850377, 0.03954865, 0.0383631 , 0.02463491, 0.07845405,
       0.03455548, 0.03007681, 0.02484076, 0.04223674, 0.14444517,
       0.12340234, 0.01510201, 0.0284437 , 0.02132016, 0.07391778,
       0.08904276, 0.15893871, 0.06947574, 0.01060787, 0.        ,
       0.09993169, 0.05711356, 0.09488374, 0.00948943, 0.13365876,
       0.05794064, 0.        , 0.06721284, 0.02066998, 0.        ,
       0.01839428, 0.        , 0.12655364, 0.08418288, 0.09095705,
       0.00730589, 0.08143881, 0.        , 0.04218803, 0.08392849,
       0.07785801, 0.        , 0.07151794, 0.02407593, 0.01635126,
       0.03734567, 0.05237227, 0.01140169, 0.00968725, 0.12530648,
       0.00909905, 0.05864096, 0.01769644, 0.12110367, 0.07347567,
       0.04316046])

In [63]:
np.where(pt.index=='1984')

(array([0]),)

In [64]:
np.where(pt.index=='1984')[0]

array([0])

In [65]:
np.where(pt.index=='1984')[0][0] #we get index of book 1984

np.int64(0)

In [66]:
'''def recommend(book_name):
    #fetch index from book_name
    index = np.where(pt.index==book_name)[0][0]
    similar_items = sorted(list(enumerate(similarity_scores[index])),key=lambda x:x[1],reverse=True)[1:6]

    for i in similar_items:
        print(pt.index[i[0]])
    #return suggestions'''

'def recommend(book_name):\n    #fetch index from book_name\n    index = np.where(pt.index==book_name)[0][0]\n    similar_items = sorted(list(enumerate(similarity_scores[index])),key=lambda x:x[1],reverse=True)[1:6]\n\n    for i in similar_items:\n        print(pt.index[i[0]])\n    #return suggestions'

In [67]:
!pip install rapidfuzz

Requirement already satisfied: rapidfuzz in c:\users\lenovo\anaconda3\lib\site-packages (3.14.0)

In [68]:
import re, unicodedata
from collections import defaultdict

try:
    from rapidfuzz import process, fuzz
    HAVE_RAPIDFUZZ = True
except Exception:
    import difflib
    HAVE_RAPIDFUZZ = False

def _normalize_text(s: str) -> str:
    if s is None:
        return ""
    s = s.lower().strip()
    s = unicodedata.normalize("NFKD", s).encode("ascii","ignore").decode("ascii")
    s = re.sub(r"[^a-z0-9]", "", s)  # drop spaces/punct
    return s

In [69]:
import re, unicodedata

def _nz(s: str) -> str:
    s = s.lower().strip()
    s = unicodedata.normalize("NFKD", s).encode("ascii", "ignore").decode("ascii")
    return re.sub(r"[^a-z0-9]", "", s)

norm_key_to_title = {}
for t in map(str, pt.index):
    k = _nz(t)
    if k not in norm_key_to_title:     
        norm_key_to_title[k] = t
norm_keys = list(norm_key_to_title.keys())

In [70]:
def resolve_title_in_pivot_v4(user_query: str, threshold: int = 80, n_suggestions: int = 5):
    qn = _nz(user_query)

    # exact normalized match -> single string
    if qn in norm_key_to_title:
        return norm_key_to_title[qn], 100, []

    suggestions = []
    try:
        from rapidfuzz import process, fuzz
        best = process.extractOne(qn, norm_keys, scorer=fuzz.ratio)
        topk = process.extract(qn, norm_keys, scorer=fuzz.ratio, limit=n_suggestions)
        suggestions = [(norm_key_to_title[k], int(score)) for (k, score, _) in topk]
        if best and best[1] >= threshold:
            return norm_key_to_title[best], int(best[1]), suggestions
        return None, 0, suggestions
    except Exception:
        import difflib
        matches = difflib.get_close_matches(qn, norm_keys, n=n_suggestions, cutoff=threshold/100)
        suggestions = [(norm_key_to_title[k], int(100*difflib.SequenceMatcher(None, qn, k).ratio())) for k in matches]
        if matches:
            best_key = matches
            best_score = int(100*difflib.SequenceMatcher(None, qn, best_key).ratio())
            if best_score >= threshold:
                return norm_key_to_title[best_key], best_score, suggestions
        return None, 0, suggestions

In [71]:
def recommend(book_name: str, k: int = 5, threshold: int = 80):
    resolved, score, sugg = resolve_title_in_pivot_v4(book_name, threshold=threshold)

    if not resolved:
        print(f"No close match found for '{book_name}'. Try one of these:")
        for t, sc in sugg: print(f"  - {t} (score {sc})")
        return []

    # Safety: ensure membership in current pivot; rebuild norm map once if needed
    if resolved not in pt.index:
        # Refresh map in case pt changed after building the cache
        norm_key_to_title.clear()
        for t in map(str, pt.index):
            k = _nz(t)
            if k not in norm_key_to_title:
                norm_key_to_title[k] = t
        if resolved not in pt.index:
            print(f"Resolved title not in pivot: {resolved}")
            return []

    idx = pt.index.get_loc(resolved)  # exact label -> integer position
    similar_items = sorted(
        list(enumerate(similarity_scores[idx])),
        key=lambda x: x[1],
        reverse=True
    )[1:k+1]

    results = [pt.index[i] for i, _ in similar_items]
    for title in results: print(title)
    #return results

In [72]:
probe = "Message in a Bottle"
r, s, sug = resolve_title_in_pivot_v4(probe)
print("Resolved:", r, type(r))       # must be <class 'str'>
print("In pivot:", r in pt.index)    # True if that edition is in pt

Resolved: Message in a Bottle <class 'str'>
In pivot: True

In [73]:
recommend('Message in a Bottle')

Nights in Rodanthe
The Mulberry Tree
A Walk to Remember
River's End
Nightmares &amp; Dreamscapes

In [74]:
recommend('messageinabottle')

Nights in Rodanthe
The Mulberry Tree
A Walk to Remember
River's End
Nightmares &amp; Dreamscapes

In [75]:
recommend('Animal Farm')

1984
Angus, Thongs and Full-Frontal Snogging: Confessions of Georgia Nicolson
Midnight
Second Nature
Call of the Wild

In [76]:
df_lr = ratings.merge(
    books[['ISBN','Book-Author','Year-Of-Publication','Publisher']],
    on='ISBN', how='left'
).merge(
    users[['User-ID','Location','Age']],
    on='User-ID', how='left'
)

df_lr = df_lr[df_lr['Book-Rating'].notna()]
df_lr = df_lr[df_lr['Book-Rating'] != 0]

LIKE_CUTOFF = 7
df_lr['like'] = (df_lr['Book-Rating'] >= LIKE_CUTOFF).astype(int)

def extract_country(loc):
    try:
        return str(loc).split(',')[-1].strip().lower()
    except Exception:
        return np.nan

df_lr['country'] = df_lr['Location'].apply(extract_country)

year_num = pd.to_numeric(df_lr['Year-Of-Publication'], errors='coerce')
df_lr['year_bin'] = pd.cut(
    year_num, bins=[0,1950,1970,1990,2005,2025],
    labels=['<=1950','1951-70','1971-90','1991-2005','2006+']
)

feature_cols = ['User-ID','ISBN','Book-Author','Publisher','country','year_bin','Age']
X = df_lr[feature_cols].copy()
y = df_lr['like'].astype(int).values

In [77]:
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.impute import SimpleImputer

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

cat_cols = ['User-ID','ISBN','Book-Author','Publisher','country','year_bin']
num_cols = ['Age']

pre_lr = ColumnTransformer(
    transformers=[
        ('cat', OneHotEncoder(handle_unknown='ignore', sparse_output=True), cat_cols),
        ('num', Pipeline([
            ('imp', SimpleImputer(strategy='median')),
            ('sc', StandardScaler(with_mean=False))
        ]), num_cols),
    ],
    remainder='drop'
)

lr_clf = Pipeline(steps=[
    ('prep', pre_lr),
    ('lr', LogisticRegression(
        solver='saga',
        C=0.5,                
        max_iter=10000,
        tol=1e-3,
        class_weight='balanced',
        n_jobs=-1
    ))
])

lr_clf.fit(X_train, y_train);

In [78]:
from sklearn.metrics import roc_auc_score, f1_score, precision_recall_fscore_support

proba = lr_clf.predict_proba(X_test)[:,1]
pred  = (proba >= 0.5).astype(int)

auc  = roc_auc_score(y_test, proba)
prec, rec, f1, _ = precision_recall_fscore_support(y_test, pred, average='binary')
print({'roc_auc': auc, 'precision': prec, 'recall': rec, 'f1': f1})

best = {'thr':0.5,'f1':f1}
for thr in np.linspace(0.2, 0.8, 25):
    f1c = f1_score(y_test, (proba >= thr).astype(int))
    if f1c > best['f1']:
        best = {'thr': float(thr), 'f1': float(f1c)}
print('best_threshold', best)
BEST_THR = best['thr']

{'roc_auc': np.float64(0.7445543504277892), 'precision': 0.8491162725324151, 'recall': 0.7404740382110956, 'f1': 0.7910825210537946}
best_threshold {'thr': 0.225, 'f1': 0.8697778379842861}

In [79]:
#Logistic Regression with direct-rating

from scipy.sparse import coo_matrix
from sklearn.neighbors import NearestNeighbors
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score
import difflib

r_all = ratings.loc[ratings['Book-Rating'] > 0, ['User-ID','ISBN','Book-Rating']].copy()
r_all['like'] = (r_all['Book-Rating'] >= 7).astype(int)

min_user, min_book = 5, 10 
u_ok = r_all['User-ID'].value_counts()
b_ok = r_all['ISBN'].value_counts()
r = r_all[r_all['User-ID'].isin(u_ok[u_ok >= min_user].index) & r_all['ISBN'].isin(b_ok[b_ok >= min_book].index)].copy()

uid2idx  = {u:i for i,u in enumerate(sorted(r['User-ID'].unique()))}
isbn2idx = {b:i for i,b in enumerate(sorted(r['ISBN'].unique()))}
idx2uid  = np.array(sorted(r['User-ID'].unique()))
idx2isbn = np.array(sorted(r['ISBN'].unique()))

ui = r['User-ID'].map(uid2idx).to_numpy()
ii = r['ISBN'].map(isbn2idx).to_numpy()
n_items, n_users = len(isbn2idx), len(uid2idx)

R = coo_matrix((np.ones(len(r), dtype=np.float32), (ii, ui)), shape=(n_items, n_users)).tocsr()
L = coo_matrix((r['like'].to_numpy(np.float32), (ii, ui)), shape=(n_items, n_users)).tocsr()

k = min(50, max(2, n_items))
nbrs = NearestNeighbors(n_neighbors=k, metric='cosine', algorithm='brute').fit(R) 
dist, ind = nbrs.kneighbors(R)
sim = 1.0 - dist  # similarity in [0,1] [17]

R_csr, L_csr = R.tocsr(), L.tocsr()

user_like_rate = np.zeros(n_users, dtype=np.float32)
item_like_rate = np.zeros(n_items, dtype=np.float32)

tmp_u = r.groupby('User-ID')['like'].mean()
tmp_i = r.groupby('ISBN')['like'].mean()
for u, v in tmp_u.items():
    user_like_rate[uid2idx[u]] = float(v)
for b, v in tmp_i.items():
    item_like_rate[isbn2idx[b]] = float(v)

def neighbor_features(u_idx: int, i_idx: int):
    """w_like, m_like, cnt_rated_nbrs, max_sim, u_like_rate, i_like_rate."""
    n_inds = ind[i_idx].ravel()
    n_sims = sim[i_idx].ravel()
    mask = (n_inds != i_idx)
    n_inds = n_inds[mask]
    n_sims = n_sims[mask]

    if n_inds.size == 0:
        return 0.0, 0.0, 0.0, 0.0, float(user_like_rate[u_idx]), float(item_like_rate[i_idx])

    rated = (R_csr[n_inds, u_idx].toarray().ravel() > 0)
    if not rated.any():
        return 0.0, 0.0, 0.0, 0.0, float(user_like_rate[u_idx]), float(item_like_rate[i_idx])

    sims_r  = n_sims[rated]
    likes_r = L_csr[n_inds[rated], u_idx].toarray().ravel()
    w_like  = float((sims_r @ likes_r) / (sims_r.sum() + 1e-12))
    m_like  = float(likes_r.mean())
    c_r     = float(rated.sum())
    m_sim   = float(sims_r.max())
    return w_like, m_like, c_r, m_sim, float(user_like_rate[u_idx]), float(item_like_rate[i_idx])

rows = []
for uu, bb, y in r[['User-ID','ISBN','like']].itertuples(index=False):
    u_idx, i_idx = uid2idx[uu], isbn2idx[bb]
    rows.append((*neighbor_features(u_idx, i_idx), int(y)))
train_df = pd.DataFrame(rows, columns=['w_like','m_like','cnt_rated_nbrs','max_sim','u_rate','i_rate','y'])

X = train_df[['w_like','m_like','cnt_rated_nbrs','max_sim','u_rate','i_rate']].to_numpy(np.float32)
y = train_df['y'].to_numpy(np.int32)
X_tr, X_va, y_tr, y_va = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

lr_pipe = Pipeline([
    ('scaler', StandardScaler()),
    ('lr', LogisticRegression(max_iter=1000, solver='lbfgs', class_weight='balanced'))
]).fit(X_tr, y_tr) 

proba_va = lr_pipe.predict_proba(X_va)[:, 1]
ths = np.linspace(0.3, 0.7, 41)
f1s = [f1_score(y_va, (proba_va >= t).astype(int)) for t in ths]  # tune threshold on validation
BEST_THR = float(ths[int(np.argmax(f1s))])  # [12]

in_index_isbns = set(isbn2idx.keys())

def resolve_title_to_isbn(title: str) -> str | None:
    t = str(title).strip().lower()
    exact = books.loc[books['Book-Title'].astype(str).str.strip().str.lower() == t, 'ISBN']
    if not exact.empty:

        for x in exact.tolist():
            if x in in_index_isbns:
                return x
        return exact.iloc
    titles = books['Book-Title'].astype(str).tolist()
    cand = difflib.get_close_matches(str(title), titles, n=5, cutoff=0.6)
    if not cand:
        return None
    subset = books[books['Book-Title'].isin(cand)]
    # count only ISBNs that are in index so inference works
    counts = r_all.loc[(r_all['Book-Rating']>0) & (r_all['ISBN'].isin(subset['ISBN'])), 'ISBN'].value_counts()
    for x in counts.index:
        if x in in_index_isbns:
            return x
    return subset['ISBN'].iloc if not subset.empty else None

def best_isbn_for_title(title: str) -> str | None:
    x = resolve_title_to_isbn(title)
    if x is None:
        return None
    if x in in_index_isbns:
        return x
    base_t = books.loc[books['ISBN'] == x, 'Book-Title'].astype(str).str.lower()
    if base_t.empty:
        return x
    same = books.loc[books['Book-Title'].astype(str).str.lower() == base_t.iloc, 'ISBN']
    for s in same:
        if s in in_index_isbns:
            return s
    return x

def user_direct_label(book_name: str, user_id: int) -> int | None:
    t = str(book_name).strip().lower()
    isbns = books.loc[books['Book-Title'].astype(str).str.strip().str.lower() == t, 'ISBN']
    if isbns.empty:
        return None
    r_user = r_all[(r_all['User-ID']==user_id) & (r_all['ISBN'].isin(isbns))]
    if r_user.empty:
        return None
    score = int(r_user['Book-Rating'].max())
    return 1 if score >= 7 else 0  

def will_like(book_name: str, user_id: int, threshold: float | None = None) -> str:
    own = user_direct_label(book_name, user_id)
    if own is not None:
        return "Yes" if own == 1 else "No"  # consistent with user's explicit data [14]

    isbn = best_isbn_for_title(book_name)
    if isbn is None or isbn not in isbn2idx:
        return "No"  # unknown title or not in index â†’ abstain

    if user_id not in uid2idx:
        return "No"

    u_idx, i_idx = uid2idx[user_id], isbn2idx[isbn]
    feats = np.array([neighbor_features(u_idx, i_idx)], dtype=np.float32)
    thr = BEST_THR if threshold is None else float(threshold)
    p = lr_pipe.predict_proba(feats)[0, 1].item()
    return "Yes" if p >= thr else "No"

#a debug helper to see why a pair yields "No"
def debug_will_like(book_name: str, user_id: int):
    isbn = best_isbn_for_title(book_name)
    info = {
        "mapped_isbn": isbn,
        "user_in_index": user_id in uid2idx,
        "isbn_in_index": isbn in isbn2idx if isbn is not None else False
    }
    own = user_direct_label(book_name, user_id)
    if own is not None:
        info["short_circuit_from_user"] = own
        return info
    if not info["user_in_index"] or not info["isbn_in_index"]:
        return info
    u_idx, i_idx = uid2idx[user_id], isbn2idx[isbn]
    feats = neighbor_features(u_idx, i_idx)
    proba = lr_pipe.predict_proba(np.array([feats], dtype=np.float32))[0, 1].item()
    info.update({"features": feats, "proba": proba, "thr": BEST_THR})
    return info

In [80]:
print(will_like("animal Farm", 277427))      # example active user from Ratings.csv
print(will_like("The Hobbit", 277427))       # other popular title example
print(will_like("To Kill a Mockingbird", 277427))

Yes
Yes
Yes

In [81]:
will_like('Flesh Tones: A Novel',276725)

'No'

In [82]:
will_like("The Sherbrooke Bride (Bride Trilogy (Paperback))",276709)

'Yes'

In [83]:
recommend('Flesh Tones: A Novel')

No close match found for 'Flesh Tones: A Novel'. Try one of these:
  - In Her Shoes : A Novel (score 75)
  - 1st to Die: A Novel (score 66)
  - The Hours : A Novel (score 66)
  - The Lovely Bones: A Novel (score 66)
  - The Shipping News : A Novel (score 64)

[]

In [84]:
will_like('In Her Shoes : A Novel',276725)

'No'

In [85]:
recommend('The Sherbrooke Bride (Bride Trilogy (Paperback))')

No close match found for 'The Sherbrooke Bride (Bride Trilogy (Paperback))'. Try one of these:
  - Key of Knowledge (Key Trilogy (Paperback)) (score 63)
  - Key of Light (Key Trilogy (Paperback)) (score 58)
  - Inner Harbor (Quinn Brothers (Paperback)) (score 55)
  - The Clan of the Cave Bear (Earth's Children (Paperback)) (score 53)
  - The Tale of the Body Thief (Vampire Chronicles (Paperback)) (score 53)

[]

In [86]:
will_like("Key of Knowledge (Key Trilogy (Paperback))",276709)

'No'

In [87]:
recommend('Animal Farm')

1984
Angus, Thongs and Full-Frontal Snogging: Confessions of Georgia Nicolson
Midnight
Second Nature
Call of the Wild

In [88]:
will_like("Animal Farm",20082)

'Yes'

In [89]:
will_like("Second Nature",20082)

'No'